   :root
  {
    background-color: rgb(225, 225, 225);
    font-family: AndaleMono, monospace;
  }
    
  #mainshit
  {
    margin-left: 20%;
  }

  #navbar
  {
    display: flex;
  }
    /*experimental*/
  
  .flex-container 
  {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(225, 225, 225);
    border-radius: 20px;
    align-items: center;
  }
  
  .flex-container > div 
  {
    background-color: rgb(252, 2, 224);
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    border-radius: 20px;
  }

  #nav-bar-dog-cunt
  {
    padding-left: 30px;
    margin: 1px 10px 1px 30px;
    animation-name: nav-bar-dog-cunt-anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  
  }

  @keyframes nav-bar-dog-cunt-anim
  {
    /* 
    from:
    {-webkit-transform: rotate(0deg);}
    50%
    {height:100% width: 120%}              //Es pis ja interes skataties history
    75%
    {width: 100%; height:120%;}
    100%
    { height: 120%; width: 100%;
    -webkit-transform: rotate(0deg)}
    */
    from 
    {
    transform: rotate(0deg);
    }
    to 
    {
    transform: rotate(359deg);
    }
    
  }
    /*end of experimental*/

  .footer-div
  {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: block;
    text-align: center;
    padding: 3px;
    background-color: dimgray;
    color: white;
  }

  ul{
    color: black;
    padding-top: 15px;
    list-style-type: square;
    margin: 0;
    padding: 0;
  }

  body{
    /*background-image: url("https://i.kym-cdn.com/entries/icons/mobile/000/018/259/55181940.jpg");*/
    background-repeat: no-repeat;
    background-color: rgb(221, 21margin: left;
    /*margin-left: 15%;*/
  }

  #joindisk{
    color: purple;
  }