<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="//templates/style.css"/>
  <title>Bober test page</title>
</head>
<body>
  <div id="navbar" class="nav-bar" >
      <h3>Dog bot</h3>
      <!--<img src="templates/icon.jpg" style="margin-left: 50%; margin-top: 0; margin-bottom: 0;">-->
      <div id="functionality" >
        <ul>
          <li><a class="navbar-li" href="/">Home</a></li>
          <li><a class="navbar-li" href="/functionality">Bot functionality</a></li>
          <li><a class="navbar-li" href="/test">Test page</a></li>
        </ul>
      </div>
      
      <div id="nav-bar-dog-cunt" class="nav-bar-dog-cunt-class">
        <img src="https://cdn.discordapp.com/emojis/987932646325764166.webp?size=64">
      </div>
    </div>
  <hr>
  <h1>Helo, this test page!</h1>
  <p><em><strong>test page go wroom</strong></em></p>

  
  
</body>
</html>